@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
    --font-inter: "Inter", sans-serif;
    --font-logo: "Space Grotesk", sans-serif;
}

body {
    background-color: #1b1f30;
}